{% extends "base.html" %}

{% block content %}
<div class="container">
<section class="about fade-in">
  <div class="profile">
    <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="profile">
  </div>
    <h2>Vadilah Ainur Rasyid</h2>
    <p class="tagline">"Power in silence."</p>
    <p>Haii Babe...., manggil apanih enaknya My Lover?, honey? hahaha lanjut dlu deh ....
kalau sebelumnya kamu yang kasi aku lembaran kertas, sekarang giliranku heheee, 
mungkin ini hal sederhana yang bisa aku buat pake effort yang besar karna aku masih pemula, aku harap kamu suka 
ya meskipun bukan nyawa taruhannya.
    </p>
    <p> 
        si flat flat aja kalo ketemu, padahal kalo lagi di chat bisa dibayangkan kaya orang kesurupan wkwwkwk si kutu kupret emang, 
        Vadil itu bukan orang yang selalu banyak bicara tentang apa yang vadil lalui, tapi dari caranya bertahan aku simpulkan kalau vadil kuat banget.
Ada hari-hari yang mungkin berat buat vadil, tapi dia tetap jalan, tetap berusaha, tetap jadi dirinya sendiri tanpa perlu banyak pengakuan dari orang lain.
Aku suka cara seorang vadilah diam-diam menghadapi semuanya. Bukan karena dia nggak lelah, tapi karena dia tahu caranya tetap berdiri walaupun dunia lagi nggak ramah.
Dan kalau suatu saat dia capek, aku cuma pengen dia tahu… dia ga harus selalu kuat sendirian.
    </p>
    <p>
    Jujur, aku juga nggak selalu ngerti isi kepala si bang padil. Kadang susah ditebak, kadang bikin kesel sendiri, 
tapi justru itu yang bikin kamu jadi kamu. Ada sisi kamu yang kelihatan santai dan kayak nggak peduli apa-apa, 
padahal aku tahu nggak sesederhana itu. Di balik semua bercandaan random, tingkah kocak, dan energi absurd yang sering aku denger dari si buah tuh, 
aku tahu ada banyak hal yang kamu simpan sendiri. Dan entah kenapa, aku selalu bisa lihat itu.

    Jadi makasih ya, udah hadir sejauh ini. Makasih udah jadi orang yang selalu punya cara sendiri buat bikin suasana jadi lebih hidup. 
Makasih juga karena udah effort, walaupun sering kamu bungkus dengan gaya sok santai andalanmu itu. Aku gatau ke depannya bakal gimana 
(yang terbaik pastinya dari Allah yakan), tapi setidaknya aku pengen kamu tahu satu hal:
kamu itu berharga, lebih dari yang mungkin kamu pikirkan selama ini.

    Jadi kalau suatu hari dunia lagi terasa berat, lagi capek, lagi pengen nyerah, atau cuma butuh tempat buat diam,
ingat aja kalau ada seseorang yang peduli sama kamu, yang melihat semua usaha kecil maupun besar yang kamu lakukan.

    Vadil yang aku kenal ya—si paling flat kalau ketemu, tapi paling busyin kalau lewat chat wkwkwk.
Jangan terlalu keras sama diri sendiri, dan jangan lupa bahagia juga.
</p>
             <div class="about-images">
        <img src="/static/img/2.jpg" alt="foto 1">
        <img src="/static/img/3.jpg" alt="foto 2">
        <img src="/static/img/4.jpg" alt="foto 3">
        <img src="/static/img/5.jpg" alt="foto 4">
        <img src="/static/img/6.jpg" alt="foto 5">
        <img src="/static/img/7.jpg" alt="foto 6">
     </div
</section>
</section>
{% endblock %}
